<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Mon profil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mon profil</ion-title>
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nom Prénom</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Email : exempleexemple.fr</p>
      <p>Mot de passe : ******</p>
    </ion-card-content>
  </ion-card>

</ion-content>
