<ion-content [fullscreen]="true">
  <div class="toolbar">
    <h1>Mes voyages</h1>
    <ion-button (click)="addTrip()" class="icon-only-button">
      <ion-icon name="add" slot="icon-only"></ion-icon>
    </ion-button>
  </div>

  <div class="card-list">
    @if (isLoggedIn) {
      @if (trips.length === 0) {
        <div class="empty-state">
          <p>Aucun voyage trouvé</p>
        </div>
      }
      <div class="card" *ngFor="let trip of trips" (click)="openTripDetails(trip)">
        <div class="card-img" [ngStyle]="{'background-image': 'url(' + images[trip.destination] + ')'}"></div>
        <div class="card-content">
          <h3>{{ trip.destination }}</h3>
          <div class="card-sub-content">
            <p>{{ trip.dateDepart | date:'dd/MM/yyyy' }}</p>
            <ion-icon name="arrow-forward-outline"></ion-icon>
            <p>{{ trip.dateArrivee | date:'dd/MM/yyyy' }}</p>
          </div>
        </div>
      </div>
      }
  </div>
</ion-content>
