       <div class="modal-overlay">
          <div class="custom-modal">
            <div class="modal-header">
              <h1>{{ departureCity }} - {{ destinationCity }}</h1>
              <ion-icon name="close" class="close-icon" (click)="closeModal()"></ion-icon>
            </div>

            <div class="modal-list">
              <div class="modal-item">
                <ion-label position="floating">Au départ de :</ion-label>
                <ion-input [(ngModel)]="departureCity" class="custom-input"></ion-input>
              </div>
              <div class="modal-item">
                <ion-label position="floating">A destination de :</ion-label>
                <ion-input [(ngModel)]="destinationCity" class="custom-input"></ion-input>
              </div>
            </div>

            <div class="search-button"  (click)="search()">
              <ion-icon name="search"></ion-icon>
            </div>
          </div>
       </div>



