<ion-content  class="login-page" [fullscreen]="true">
  <div class="header-logo">
    <img src="../../assets/images/logo_odyssey_gate_web_blanc.png" alt="Odyssey Gate Logo">
  </div>

  <div class="form login-card ">
    <h2>Se connecter</h2>
    <form (ngSubmit)="login()">
      <div class="form-group">
        <ion-label position="stacked">Email*</ion-label>
        <ion-input type="email" fill="outline" placeholder="Email" color="primary" [(ngModel)]="email" name="email" required></ion-input>
      </div>

      <div class="form-group">
        <ion-label position="stacked">Mot de passe*</ion-label>
        <ion-input type="password" fill="outline" [(ngModel)]="password" name="password" required></ion-input>
      </div>
      <ion-button expand="full" type="submit" class="btn btn-plain">Se connecter</ion-button>
    </form>
    <p>Vous n'avez pas de compte ? <a fill="clear" routerLink="tabs/register">S'inscrire</a></p>
  </div>
</ion-content>
