<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore" href="/tabs/explore" [ngClass]="{'selected': selectedTab === 'explore'}">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="travels" href="/tabs/travels" [ngClass]="{'selected': selectedTab === 'travels'}">
      <ion-icon aria-hidden="true" name="airplane"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile" [ngClass]="{'selected': selectedTab === 'profile' || selectedTab === 'login' || selectedTab === 'register'}">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
