<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="welcome" href="/tabs/welcome" [ngClass]="{'selected': selectedTab === 'welcome'}">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="my-trips" href="/tabs/my-trips" [ngClass]="{'selected': selectedTab === 'my-trips'}">
      <ion-icon aria-hidden="true" name="airplane"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile" [ngClass]="{'selected': selectedTab === 'profile' || selectedTab === 'login' || selectedTab === 'register'}">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
