.step-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 15px;
  width: 100%;
}

.step-header {
  display: flex;
  flex-direction: row;
  gap: 10px;

  .step-title {
    display: flex;
    flex-direction: column;

    p {
      font-size: 20px;
      font-weight: 400;
      color: var(--ion-text-color);
    }

    h2 {
      font-size: 30px;
      font-weight: 600;
      color: var(--ion-text-color);
    }

    p, h2 {
      margin: 0;
    }
  }

  .icon {
    color: var(--ion-text-color-white);
  }

  .step-icon {
    background-color: var(--ion-color-primary);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
  width: 100%;

  .form-group {
    background: var(--ion-color-primary-100);
    color: var(--ion-text-color);
    border-radius: 10px;
    padding: 15px 10px;
    gap: 3px;
    display: flex;
    flex-direction: column;
  }

  ion-input, ion-text {
    --background: var(--ion-text-color-white);
    --color: var(--ion-text-color);
    --border-radius: 10px;
    --border: none;
    --padding-end: 10px;
    --padding-start: 10px;
  }
}

.step-actions {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;

  ion-button {
    width: 126px;
  }

  ion-button[disabled] {
    opacity: 0.5;
  }

  .step-actions-right {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  
}
