<ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/my-trips" text="" (click)="resetForm()"></ion-back-button>
    </ion-buttons>
    <ion-title>Ajouter un voyage</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [fullscreen]="true">
  <!-- Étape 1 : Général -->
   @if (step === 1) {
    <div class="step-container" @stepAnimation>
      <div class="step-header">
        <div class="step-icon">
          <ion-icon name="home" class="icon"></ion-icon>
        </div>
        <div class="step-title">
          <p>Étape 1/4 </p>
          <h2>Général</h2>
        </div>
      </div>
      <form [formGroup]="form" class="form">
        <div class="form-group">
          <ion-label position="stacked">Nom *</ion-label>
          <ion-input formControlName="name" fill="outline" required></ion-input>
        </div>
        <div class="form-group">
          <ion-item lines="none" button (click)="showStartPicker = true">
            <ion-label>De *</ion-label>
            <ion-text>{{ startDate ? (startDate | date: 'EEEE, d MMM yyyy HH:mm') : 'Sélectionner' }}</ion-text>
          </ion-item>
        </div>
        <div class="form-group">
          <ion-item lines="none" button (click)="showEndPicker = true">
            <ion-label>A *</ion-label>
            <ion-text>{{ endDate ? (endDate | date: 'EEEE, d MMM yyyy HH:mm') : 'Sélectionner' }}</ion-text>
          </ion-item>
        </div>
        <!-- Modale de date -->
        <ion-modal [isOpen]="showStartPicker" (ionModalDidDismiss)="showStartPicker = false">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-datetime
                [presentation]="'date-time'"
                [value]="startDate"
                (ionChange)="onStartDateChange($event)"
                locale="fr-FR"
              ></ion-datetime>
              <ion-button expand="full" (click)="showStartPicker = false">OK</ion-button>
            </ion-content>
          </ng-template>
        </ion-modal>

        <ion-modal [isOpen]="showEndPicker" (ionModalDidDismiss)="showEndPicker = false">
          <ng-template>
            <ion-content class="ion-padding">
              <ion-datetime
                [presentation]="'date-time'"
                [value]="endDate"
                (ionChange)="onEndDateChange($event)"
                locale="fr-FR"
              ></ion-datetime>
              <ion-button expand="full" (click)="showEndPicker = false">OK</ion-button>
            </ion-content>
          </ng-template>
        </ion-modal>
        <div class="form-group">
          <ion-label position="stacked">Nombre de voyageurs</ion-label>
          <ion-input type="number" formControlName="people"></ion-input>
        </div>
      </form>
    </div>
   }

  <!-- Étape 2 : Transports -->
   @if (step === 2) {
    <div class="step-container" @stepAnimation>
      <div class="step-header">
        <div class="step-icon">
          <ion-icon name="airplane" class="icon"></ion-icon>
        </div>
        <div class="step-title">
          <p>Étape 2/4  </p>
          <h2>Transport</h2>
        </div>
    </div>
      <form [formGroup]="form" class="form">
        <div class="form-group">
          <ion-label position="stacked">Type</ion-label>
          <ion-select formControlName="transportType" label="Type">
            <ion-select-option value="avion">Avion</ion-select-option>
            <ion-select-option value="train">Train</ion-select-option>
          </ion-select>
        </div>
        <div class="form-group">
          <ion-item lines="none" button (click)="showTransportDatePicker = true">
            <ion-label>Date</ion-label>
            <ion-text>{{ transportDate ? (transportDate | date: 'EEEE, d MMM yyyy HH:mm') : 'Sélectionner' }}</ion-text>
          </ion-item>
        </div>
        <div class="form-group">
          <ion-label position="stacked">Durée </ion-label>
          <ion-select formControlName="duration" interface="popover" placeholder="Sélectionner une durée">
            <ion-select-option *ngFor="let d of durations" [value]="d.value">
              {{ d.label }}
            </ion-select-option>
  </ion-select>
        </div>
        <div class="form-group">
          <ion-label position="stacked">Fichier</ion-label>
          <ion-input type="file" formControlName="transportFile"></ion-input>
        </div>
      </form>
    </div>
    <ion-modal [isOpen]="showTransportDatePicker" (ionModalDidDismiss)="showTransportDatePicker = false">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-datetime
            [presentation]="'date-time'"
            [value]="transportDate"
            (ionChange)="onTransportDateChange($event)"
            locale="fr-FR"
          ></ion-datetime>
          <ion-button expand="full" (click)="showTransportDatePicker = false">OK</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
   }

   <!-- Étape 3 : Logements -->
   @if (step === 3) {
    <div class="step-container" @stepAnimation>
      <div class="step-header">
        <div class="step-icon">
          <ion-icon name="airplane" class="icon"></ion-icon>
        </div>
        <div class="step-title">
          <p>Étape 3/4  </p>
          <h2>Logements</h2>
        </div>
    </div>
      <form [formGroup]="form" class="form">
        <div class="form-group">
          <ion-label position="stacked">Nom</ion-label>
          <ion-input formControlName="hotelName" fill="outline" required></ion-input>
        </div>
        <div class="form-group">
          <ion-item lines="none" button (click)="showHotelStartDatePicker = true">
            <ion-label>De </ion-label>
            <ion-text>{{ hotelStartDate ? (hotelStartDate | date: 'EEEE, d MMM yyyy HH:mm') : 'Sélectionner' }}</ion-text>
          </ion-item>
        </div>
        <div class="form-group">
          <ion-item lines="none" button (click)="showHotelEndDatePicker = true">
            <ion-label>A </ion-label>
            <ion-text>{{ hotelEndDate ? (hotelEndDate | date: 'EEEE, d MMM yyyy HH:mm') : 'Sélectionner' }}</ion-text>
          </ion-item>
        </div>
        <div class="form-group">
          <ion-label position="stacked">Fichier</ion-label>
          <ion-input type="file" formControlName="hotelFile"></ion-input>
        </div>
      </form>
    </div>
     <!-- Modale de date -->
     <ion-modal [isOpen]="showHotelStartDatePicker" (ionModalDidDismiss)="showHotelStartDatePicker = false">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-datetime
            [presentation]="'date-time'"
            [value]="hotelStartDate"
            (ionChange)="onHotelStartDateChange($event)"
            locale="fr-FR"
          ></ion-datetime>
          <ion-button expand="full" (click)="showHotelStartDatePicker = false">OK</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>

    <ion-modal [isOpen]="showHotelEndDatePicker" (ionModalDidDismiss)="showHotelEndDatePicker = false">
      <ng-template>
        <ion-content class="ion-padding">
          <ion-datetime
            [presentation]="'date-time'"
            [value]="hotelEndDate"
            (ionChange)="onHotelEndDateChange($event)"
            locale="fr-FR"
          ></ion-datetime>
          <ion-button expand="full" (click)="showHotelEndDatePicker = false">OK</ion-button>
        </ion-content>
      </ng-template>
    </ion-modal>
   }

  <!-- Boutons bas -->
  <div class="step-actions">
    @if (step !== 1) {
      <ion-button fill="outline" (click)="prevStep()" [disabled]="step === 1">Précédent</ion-button>
    }
    <div class="step-actions-right">
      @if (step !== 4) {
        <ion-button (click)="nextStep()" [disabled]="!isCurrentStepValid()">Suivant</ion-button>
      }
      <ion-button [disabled]="!isStep1Valid()" (click)="submitForm()">
        Valider
      </ion-button>
    </div>

  </div>
</ion-content>
