// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-background-color: #F6F6F6;

  --ion-color-primary: #4A54A0;
	--ion-color-primary-contrast: #fff;
	--ion-color-primary-500: #2B3779;
	--ion-color-primary-300: #616CB0;
  --ion-color-primary-100: #E4E9F5;
  --ion-color-primary-200: #CFD8EE;

  --ion-color-secondary: #EA5054;
  --ion-color-secondary-300: #EC646F;
  --ion-color-secondary-500: #D13B46;

	--ion-text-color: #272A44;
  --ion-text-color-white: #fff;
}
