// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-background-color: #F6F6F6;

  --ion-color-primary: #4A54A0;
	--ion-color-primary-contrast: #fff;
	--ion-color-primary-500: #2B3779;
	--ion-color-primary-300: #616CB0;
  --ion-color-primary-100: #E4E9F5;
  --ion-color-primary-200: #CFD8EE;

  --ion-color-secondary: #EA5054;
  --ion-color-secondary-300: #EC646F;
  --ion-color-secondary-500: #D13B46;

	--ion-text-color: #272A44;
  --ion-text-color-white: #fff;
}

.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.btn {
  display: flex;
  align-items: center;
  padding: 4px 15px;
  border-radius: 10px;
}

.btn-plain {
  background-color: var(--ion-color-primary);
  color: var(--ion-text-color-white);
}

.btn-plain:hover {
  background-color: var(--ion-color-primary-500);
}

.btn-plain-desable   {
  background-color: var(--ion-color-primary-100);
  color: var(--ion-color-primary-300);
}

.btn-outline {
  background-color: #fff;
  color: var(--ion-color-primary);
  border-color: var(--ion-color-primary);
}

.btn-outline:hover {
  background-color: #fff;
  color: var(--ion-color-primary-500);
  border-color: var(--ion-color-primary-500);
}

.btn-outline-desable {
  background-color: #fff;
  color: var(--ion-color-primary-200);
  border-color: var(--ion-color-primary-200);
}

.card-list {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
  gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px;
  justify-content: center;
  gap: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  background-color: var(--ion-color-primary-100);
  color: var(--ion-text-color);
}

.searchbar-custom {
  --color: var(--ion-text-color);
  --icon-color: var(--ion-text-color);
  --placeholder-color: var(--ion-color-primary-500);
  --padding-bottom: 0;
  --border-radius: 10px;
}

h1 {
  color: var(--ion-text-color);
  font-weight: 600;
  margin-top: 0;
  font-size: 20px;
}
