<ion-content class="signup-page" [fullscreen]="true">
  <div class="header-logo">
    <img src="../../assets/images/logo_odyssey_gate_web_blanc.png" alt="Odyssey Gate Logo">
  </div>

  <div class="form signup-card">
    <div class="content-container">
    <h2>S'inscrire</h2>
    <form (ngSubmit)="register()">
      <div class="form-group">
        <ion-label position="stacked">Nom*</ion-label>
        <ion-input type="text" fill="outline" placeholder="Nom" [(ngModel)]="name" name="name" required></ion-input>
      </div>
      <div class="form-group">
        <ion-label position="stacked">Prénom*</ion-label>
        <ion-input type="text" fill="outline" placeholder="Prénom" [(ngModel)]="surname" name="surname" required></ion-input>
      </div>
      <div class="form-group">
        <ion-label position="stacked">Email*</ion-label>
        <ion-input type="email" fill="outline" placeholder="email@exemple.com" [(ngModel)]="email" name="email" required></ion-input>
      </div>
      <div class="form-group">
        <ion-label position="stacked">Mot de passe*</ion-label>
        <ion-input type="password" fill="outline" [(ngModel)]="password" name="password" required></ion-input>
        <small class="password-hint">
          Le mot de passe doit contenir au moins 8 caractères.
        </small>
      </div>
      <div class="form-group">
        <ion-label position="stacked">Confirmer le mot de passe*</ion-label>
        <ion-input type="password" fill="outline" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
      </div>
      <ion-button expand="block" type="submit" color="primary">S'inscrire</ion-button>
    </form>
    <div class="signup-text">
      <span>Vous avez déjà un compte ?</span>
      <ion-button fill="clear" color="primary" class="btn-clear" (click)="goToLogin()">Se connecter</ion-button>
    </div>
    </div>
  </div>
</ion-content>
