<div class="step-container">
<div class="step-header">
  <div class="step-icon">
    <ion-icon name="airplane" class="icon"></ion-icon>
  </div>
  <div class="step-title">
    <p>Étape 2/4</p>
    <h2>Transport</h2>
  </div>
</div>

<form [formGroup]="form" class="form">
  <ng-container formArrayName="transports">
    @for (group of transports.controls; track $index; let i = $index) {
      <div [formGroupName]="i" class="form-block">
        <div class="form-group">
          <ion-label position="stacked">Type</ion-label>
          <ion-select formControlName="type" label="Type">
          <ion-select-option value="avion">Avion</ion-select-option>
          <ion-select-option value="train">Train</ion-select-option>
          <ion-select-option value="bateau">Bateau</ion-select-option>
          <ion-select-option value="bus">Bus</ion-select-option>
        </ion-select>
      </div>
      <div class="form-group">
        <ion-item lines="none" button (click)="showTransportStartDatePicker = i">
          <ion-label>Date et heure de départ</ion-label>
          <ion-text>
            {{ group.value.dateDepart ? (group.value.dateDepart | date: 'EEEE, d MMM yyyy HH:mm') : 'Sélectionner' }}
          </ion-text>
        </ion-item>
      </div>
      <div class="form-group">
        <ion-item lines="none" button (click)="showTransportEndDatePicker = i">
          <ion-label>Date et heure d'arrivée</ion-label>
          <ion-text>
            {{ group.value.dateArrivee ? (group.value.dateArrivee | date: 'EEEE, d MMM yyyy HH:mm') : 'Sélectionner' }}
          </ion-text>
        </ion-item>
      </div>
      <div class="form-group">
        <ion-label position="stacked">Numéro</ion-label>
        <ion-input formControlName="numero"></ion-input>
      </div>
      <div class="form-group">
        <ion-label position="stacked">Compagnie</ion-label>
        <ion-input formControlName="compagnie"></ion-input>
      </div>
      <div class="form-group">
        <ion-label position="stacked">Départ</ion-label>
        <ion-input formControlName="depart"></ion-input>
      </div>
      <div class="form-group">
        <ion-label position="stacked">Destination</ion-label>
        <ion-input formControlName="arrivee"></ion-input>
      </div>
    @if (transports.length > 1) {
      <ion-button color="danger" fill="clear" (click)="removeTransport(i)">
        <ion-icon name="trash"></ion-icon>
        Supprimer
      </ion-button>
    }
      <ion-modal [isOpen]="showTransportStartDatePicker === i" (ionModalDidDismiss)="showTransportStartDatePicker = null">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-datetime
              [presentation]="'date-time'"
              [value]="group.value.dateDepart"
              (ionChange)="onTransportStartDateChange($event, i)"
              locale="fr-FR"
            ></ion-datetime>
            <ion-button expand="full" (click)="showTransportStartDatePicker = null">OK</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
      <ion-modal [isOpen]="showTransportEndDatePicker === i" (ionModalDidDismiss)="showTransportEndDatePicker = null">
        <ng-template>
          <ion-content class="ion-padding">
            <ion-datetime
              [presentation]="'date-time'"
              [value]="group.value.dateArrivee"
              (ionChange)="onTransportEndDateChange($event, i)"
              locale="fr-FR"
            ></ion-datetime>
            <ion-button expand="full" (click)="showTransportEndDatePicker = null">OK</ion-button>
          </ion-content>
        </ng-template>
      </ion-modal>
      <hr>
    </div>
  }
  </ng-container>
  @if (!isUpdate) {
    <ion-button expand="block" color="primary" (click)="addTransport()">
      <ion-icon name="add"></ion-icon>
      Ajouter un transport
    </ion-button>
  }
@if(mode === 'single') {
  <div class="step-actions">
    <ion-button expand="block" color="primary" fill="outline" (click)="cancel()">
        Annuler
    </ion-button>
    <ion-button expand="block" color="primary" (click)="submit()">
      Valider
    </ion-button>
  </div>
}
</form>
</div>