.profile-page {
  --background: var(--ion-color-primary-200);

  .header-logo {
    background-image: url('../../assets/images/background-login.png');
    background-size: cover;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      max-height: 150px;
    }
  }

  .profile-card {
    background-color: var(--ion-color-primary-200);
    margin-top: -20px;
    border-radius: 25px 25px 0 0;
    padding: 24px;

    h2 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 24px;
      color: var(--ion-color-primary);
    }

    .profile-info {
      margin-bottom: 20px;

      .form-group {
        margin-bottom: 16px;
        gap: 3px;
        display: flex;
        flex-direction: column;
      }
    }

    ion-button {
      --background: var(--ion-color-primary);
      border-radius: 12px;
      margin-top: 16px;
    }

    .profile-actions {
      margin-top: 16px;
      text-align: center;

      .btn-clear {
        padding: 0;
        width: auto;
        margin-top: 0px;
      }
    }
  }
}