<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore" href="/tabs/explore">
      <ion-icon aria-hidden="true" name="search"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="reservations" href="/tabs/reservations">
      <ion-icon aria-hidden="true" name="airplane"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
